<!-- Modal -->
<div class="modal fade" id="customerExcelUploadModal" tabindex="-1" role="dialog" aria-labelledby="customerExcelUploadModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerExcelUploadModalLabel">Nhập file Excel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Chọn file Excel chứa danh sách khách hàng để tải lên</p>
        <label class="custom-file">
            <input type="file" id="customerExcel" class="custom-file-input">
            <span class="custom-file-control"></span>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-primary">Tải lên</button>
      </div>
    </div>
  </div>
</div>