@import "../config/colors.scss";
/**
 * Universal styles
 */
a {
  cursor: pointer;

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    color: $gray-dark;
  }
}

@-webkit-keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px)
    }

    28% {
        transform: translateY(-5px)
    }

    44% {
        transform: translateY(0px)
    }
}

.loading-indicator {
    align-items: center;
    display: flex;
    height: 17px;

    > .dot {
        -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
        border-radius: 2px;
        display: inline-block;
        height: 5px;
        margin-right: 3px;
        width: 5px;
        background-color: #F6F7F9;

        &:nth-child(1) {
            -webkit-animation-delay: 200ms;
        }

        &:nth-child(2) {
            -webkit-animation-delay: 300ms;
        }

        &:nth-child(3) {
            -webkit-animation-delay: 400ms;
        }
    }
}