/**
 * Common styles for module
 */
.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  padding: 25px 40px !important;
  margin-bottom: 0;
  width: 100%;

  .page-title {
    order: 0;
    flex-grow: 1;
    flex-shrink: 0;

    .lead {
      opacity: .8;
    }
  }

  .page-tools {
    order: 1;
    flex-grow: 0;
    flex-shrink: 1;
    width: 20%;
    vertical-align: middle;

    padding-top: 25px;

    button {
      margin-bottom: 10px;
      
      &:hover {
        cursor: pointer;
      }

      i.fa {
        margin-right: 5px;
      }
    }
  }
}

.product-page-header {
  background-image: -webkit-linear-gradient(200deg, #48227d 0%, #2f569c 100%);
  background-image: linear-gradient(-110deg, #48227d 0%, #2f569c 100%);
}

@import "manager/customer";