{% extends "layout/base.html" %}
{% load static %}

{% block title %}Quản lý Hoá đơn{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "custom.css" %}">
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}

    <div class="main-content">
        <div class="jumbotron jumbotron-fluid page-header">
            <div class="page-title">
                <h1 class="display-5">Quản lý Hoá đơn</h1>
                <p class="lead">Xem danh sách hoá đơn, chỉnh sửa, hoặc thêm hoá đơn mới</p>
            </div>
            <div class="page-tools">
                <div id="react-order-playground"></div>
            </div>
        </div>
    </div>

    {% include 'order/orders_list.html' with orders=orders %}
    
{% endblock %}